@page "/employees"
@inject HttpClient Http

<h1>Employee Overview</h1>

<p>This page contains all the employees available in the system.</p>

@if (EmployeeList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Employee No</th>
                <th>Name</th>
                <th>Phone No</th>
                <th>Email</th>
                <th>Job Title</th>
                <th>Salary Amount</th>
                <th>Start Date</th>
                <th>Is Active</th>
                <th>Date Employee Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in EmployeeList)
            {
                <tr>
                    <td>@employee.EmployeeNo</td>
                    <td>@employee.Name</td>
                    <td>@employee.PhoneNo</td>
                    <td>@employee.Email</td>
                    <td>@employee.JobTitle</td>
                    <td>@employee.SalaryAmount</td>
                    <td>@employee.StartDate</td>
                    <td>@employee.IsActive</td>
                    <td>@employee.DateCreated</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Employee[] EmployeeList;

    protected override async Task OnInitializedAsync()
    {
        EmployeeList = await Http.GetFromJsonAsync<Employee[]>("sample-data/employees.json");
    }

    public class Employee
    {
        public string EmployeeNo { get; set; }

        public string Name { get; set; }

        public string PhoneNo { get; set; }

        public string Email { get; set; }

        public string JobTitle { get; set; }

        public string SalaryAmount { get; set; }

        public DateTime StartDate { get; set; }

        public bool IsActive { get; set; }

        public DateTime DateCreated { get; set; }
    }
}
